@import "tailwindcss";

.newsletter-content > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.newsletter-content > h2 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.newsletter-content > h3 {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.newsletter-content > p {
  margin-bottom: 1rem;
}

.newsletter-content > ul {
  margin-left: 1.5rem;
}

.newsletter-content > li {
  list-style-type: disc;
}

.newsletter-content a {
  color: #2563eb;
  text-decoration: underline;
}